[submodule "zsh/dot-config/zsh/plugins/powerlevel10k"]
	path = zsh/dot-config/zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/dot-config/zsh/plugins/zsh-bench"]
	path = zsh/dot-config/zsh/plugins/zsh-bench
	url = https://github.com/romkatv/zsh-bench.git
[submodule "zsh/dot-config/zsh/plugins/zaw"]
	path = zsh/dot-config/zsh/plugins/zaw
	url = https://github.com/zsh-users/zaw.git
[submodule "tmux/dot-config/tmux/plugins/tmux-fzf"]
	path = tmux/dot-config/tmux/plugins/tmux-fzf
	url = https://github.com/sainnhe/tmux-fzf.git
[submodule "tmux/dot-config/tmux/plugins/tpm"]
	path = tmux/dot-config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "tmux/dot-config/tmux/plugins/vim-tmux-navigator"]
	path = tmux/dot-config/tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
