<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>branch_on_clone</key>
	<string>main</string>
	<key>github_username</key>
	<string>xiatiandeairen</string>
	<key>local_repo_folder</key>
	<string>~/dotfiles/alfred/repo</string>
</dict>
</plist>
